.customerOrder {
    .row{
        display: flex;
    }
  p {
    margin: 0;
  }
  .title{
      margin-inline-end: 5px;
      font-weight: bold;

      &::after{
          content: ':';
      }
  }
}
