.customer-order {
  border: 1px solid #ddd;
  margin: 0 10px 5px;
  border-radius: 5px;
  &:last-of-type {
    margin-bottom: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
  }
  .row {
    display: flex;
  }
  p {
    margin: 0;
  }
  .title {
    margin-inline-end: 5px;
    font-weight: bold;
    &::after {
      content: ":";
    }
  }
  main {
    max-width: 800px;
    height: auto;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-panel {
    display: flex;
    flex-direction: column;

    .btn {
      margin: 3px 5px;
      border-radius: 28px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 15px;
      padding:10px 10px;
      text-decoration: none;
      text-shadow: 1px 1px 0px #2f6627;
      transition: background-color 400ms;
    }
    .confirm {
      border: 1px solid #18ab29;
      background-color: #44c767;
      &:hover {
        background-color: #5cbf2a;
      }
    }

     .delete {
      border:1px solid #942911;
      background-color:#d0451b;
      &:hover {
        background-color:#bc3315;
      }
    }

  }
}
