.trail-details-container {
  width: 100%;
}

.trail-details {
  width: 100%;

  &-main-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  &-name {
    font-size: 2rem;
    text-transform: uppercase;
  }

  &-heading {
    font-size: 1.5rem;
  }

  &-info {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    &-heading {
      font-weight: 800;
    }

    & p {
      width: 100%;
      text-align: start;
    }
  }

  &-images {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: start;
  }

  &-image {
    width: calc((100% - 1rem) / 2);
    height: 40vh;
    object-fit: cover;
    margin-block-end: 1rem;

    &:not(:nth-child(even)) {
      margin-inline-end: 1rem;
    }
  }

  &-map-container {
    width: 60vw;
    height: 30rem;
    position: relative;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}

.back-button {
  position: fixed;
  top: 5rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.trail-reviews {
  width: 100%;

  &-add-form {
    width: 60%;
    margin: 0 auto;

    & textarea {
      width: 100%;
      height: 15rem;
    }
  }
}
