.review-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  margin-block-end: 1rem;
  padding: 1rem;
}

.review {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  &-text {
    margin: 0;
    padding-block-end: 1rem;
  }

  &-info {
    width: 100;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    &-row {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      margin-block-end: 0.5rem;
    }

    &-title-row {
      font-weight: 800;
    }

    &-heading {
      font-weight: 800;
      margin-inline-end: 0.5rem;
    }
  }

  &-buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-inline-end: 0.5rem;
    text-decoration: none;
  }

  &-delete-button {
    &:hover,
    &:active,
    &:focus {
      background-color: red;
    }
  }

  &-edit-button {
    &:hover,
    &:active,
    &:focus {
      background-color: yellow;
    }
  }
}
