.booking-page {
  justify-content: center;
  p {
    display: inline-block;
    margin: 0;
  }
  &-contain {
    display: flex;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 600px;
  }
  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &-full-name {
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  &-rate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .pra-rating {
      font-size: 17px;
      margin-inline-end: 5px;
    }
    img {
      position: relative;
      top: 4px;
    }
  }
  &-rate {
    margin-inline-start: 5px;
  }
  .total-rating {
    position: relative;
    top: 2px;
    font-size: 11px;
  }
  &-title {
    font-weight: bolder;
    margin-inline-end: 10px;
  }
  &-img-trail {
    width: 400px;
  }
  &-add-review {
    .title {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
      text-decoration: underline;
    }
  }
}
