.homepage {
  position: relative;
  width: 100%;
  padding-block-start: 0;

  &-background {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    margin-block-end: 1rem;
  }

  &-header {
    width: 100%;
    height: 80vh;
    background-image: url(/img/main-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  &-main-heading {
    position: absolute;
    text-align: center;
    line-height: 2.2rem;
    width: 100%;
    top: 5rem;
    margin: 0;
    color: $clr2;
    font-size: 2.2rem;
    filter: drop-shadow(0 0 10px $clr5);
  }

  &-list-heading {
    font-size: 2rem;
    margin: 1rem;
    margin-block-end: 2rem;
  }

  &-show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      background-color: $clr4;
    }
  }

  &-show-more-button:not(:last-child) {
    margin-block-end: 1rem;
  }
}
