* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: montserrat;
  line-height: 1.5em;
  text-align: center;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

button,
select,
input,
a {
  outline: none;
}

main {
  padding-block-start: 4rem;
  flex-grow: 1;
  flex-basis: calc(100vh - 4rem);
}
