* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: montserrat;
  line-height: 1.5em;
  text-align: center;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button,
select,
input,
a {
  outline: none;
}

main {
  width: 100vw;
  padding-block-start: 4rem;
  flex-grow: 1;
  min-height: calc(100vh - 4rem);
}

.trail-review {
  margin-bottom: 35px;
}
