

.space-orange {
    padding:10px 20px;
    background-color:#ffd13a;
    border-radius: 5px;
    border: 2px solid black;
    margin: 3px;
}


.space-red {
    padding:10px 20px;
    background-color: #ff4141;
    border-radius: 5px;
    border: 2px solid black;
    margin: 3px;
}